[Desktop Entry]
Name=myPlasmoid
Name[ast]=myPlasmoid
Name[bg]=myPlasmoid
Name[bs]=myPlasmoid
Name[ca]=myPlasmoid
Name[ca@valencia]=myPlasmoid
Name[cs]=myPlasmoid
Name[da]=myPlasmoid
Name[de]=myPlasmoid
Name[el]=myPlasmoid
Name[en_GB]=myPlasmoid
Name[eo]=myPlasmoid
Name[es]=myPlasmoid
Name[et]=myPlasmoid
Name[fi]=myPlasmoid
Name[fr]=myPlasmoid
Name[ga]=myPlasmoid
Name[gl]=myPlasmoid
Name[hu]=myPlasmoid
Name[it]=myPlasmoid
Name[ja]=myPlasmoid
Name[kk]=myPlasmoid
Name[km]=myPlasmoid
Name[ko]=myPlasmoid
Name[lv]=myPlasmoid
Name[nb]=myPlasmoid
Name[nds]=myPlasmoid
Name[nl]=myPlasmoid
Name[nn]=myPlasmoid
Name[pa]=myPlasmoid
Name[pl]=myPlasmoid
Name[pt]=myPlasmoid
Name[pt_BR]=myPlasmoid
Name[ro]=myPlasmoid
Name[ru]=myPlasmoid
Name[sq]=myPlasmoid
Name[sr]=myPlasmoid
Name[sr@ijekavian]=myPlasmoid
Name[sr@ijekavianlatin]=myPlasmoid
Name[sr@latin]=myPlasmoid
Name[sv]=myPlasmoid
Name[tr]=myPlasmoid
Name[ug]=myPlasmoid
Name[uk]=myPlasmoid
Name[x-test]=xxmyPlasmoidxx
Name[zh_CN]=myPlasmoid
Name[zh_TW]=myPlasmoid
Comment=Plasma myPlasmoid
Comment[ast]=Plasma myPlasmoid
Comment[bs]=Plazma myPlasmoid
Comment[ca]=Plasma myPlasmoid
Comment[ca@valencia]=Plasma myPlasmoid
Comment[cs]=Plasma myPlasmoid
Comment[da]=Plasma myPlasmoid
Comment[de]=Plasma myPlasmoid
Comment[el]=Plasma myPlasmoid
Comment[en_GB]=Plasma myPlasmoid
Comment[eo]=Plasma myPlasmoid
Comment[es]=Plasma myPlasmoid
Comment[et]=Plasma myPlasmoid
Comment[fi]=Plasma myPlasmoid
Comment[fr]=Plasma myPlasmoid
Comment[ga]=Plasma myPlasmoid
Comment[gl]=Plasma myPlasmoid
Comment[hu]=Plasma myPlasmoid
Comment[it]=Plasma myPlasmoid
Comment[ja]=Plasma myPlasmoid
Comment[kk]=Plasma myPlasmoid
Comment[km]=ប្លាស្មា myPlasmoid
Comment[ko]=Plasma myPlasmoid
Comment[lv]=Plasma myPlasmoid
Comment[nb]=Plasma myPlasmoid
Comment[nds]=Plasma myPlasmoid
Comment[nl]=Plasma myPlasmoid
Comment[nn]=Plasma myPlasmoid
Comment[pa]=ਪਲਾਜ਼ਮਾ myPlasmoid
Comment[pl]=Plazma myPlasmoid
Comment[pt]=Plasma myPlasmoid
Comment[pt_BR]=Plasma myPlasmoid
Comment[ro]=Plasma myPlasmoid
Comment[ru]=Plasma myPlasmoid
Comment[sq]=Plasma myPlasmoid
Comment[sr]=Плазмин myPlasmoid
Comment[sr@ijekavian]=Плазмин myPlasmoid
Comment[sr@ijekavianlatin]=Plasmin myPlasmoid
Comment[sr@latin]=Plasmin myPlasmoid
Comment[sv]=Plasma myPlasmoid
Comment[tr]=Plasma myPlasmoid
Comment[uk]=Плазма myPlasmoid
Comment[x-test]=xxPlasma myPlasmoidxx
Comment[zh_CN]=Plasma myPlasmoid
Comment[zh_TW]=Plasma myPlasmoid
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_myplasmoid
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=myplasmoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

